In [1]:
import numpy as np
import pandas as pd

# 理解数据

In [2]:
#读取数据集
df_train = pd.read_csv("kaggle_bike_competition_train.csv")

In [3]:
df_train.head(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14

In [4]:
#查看列名及其类型
df_train.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
dtype: object

In [5]:
#查看数据集的大小
df_train.shape

(10886, 12)

In [6]:
#查看缺失值情况
df_train.info()
#发现竟然没有缺失值...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [7]:
#查看数值型数据的统计情况
df_train.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

# 数据清洗

In [8]:
#一、对日期数据进行拆分
df_train['datetime'].head()
#年份数据无价值，因为都是20111年数据，需要拆分成月份、天数、小时

0    2011-01-01 00:00:00
1    2011-01-01 01:00:00
2    2011-01-01 02:00:00
3    2011-01-01 03:00:00
4    2011-01-01 04:00:00
Name: datetime, dtype: object

In [9]:
df_train['month'] = pd.DatetimeIndex(df_train.datetime).month
df_train['day'] = pd.DatetimeIndex(df_train.datetime).day
df_train['hour'] = pd.DatetimeIndex(df_train.datetime).hour

In [19]:
df_train.head(-5)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,month,day,hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,1,1,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,1,1,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,1,1,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,1,1,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10876,2012-12-19 14:00:00,4,0,1,1,17.22,21.210,50,12.9980,33,185,218,12,19,14
10877,2012-12-19 15:00:00,4,0,1,1,17.22,21.210,50,19.0012,28,209,237,12,19,15
10878,2012-12-19 16:00:00,4,0,1,1,17.22,21.210,50,23.9994,37,297,334,12,19,16
10879,2012-12-19 17:00:00,4,0,1,1,16.40,20.455,50,26.0027,26,536,562,12,19,17
10880,2012-12-19 18:00:00,4,0,1,1,15.58,19.695,50,23.9994,23,546,569,12,19,18

In [21]:
# 将'datetime'设为索引
df_train.set_index('datetime', inplace=True)

KeyError: "None of ['datetime'] are in the columns"

In [24]:
df_train.head(10)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,month,day,hour
datetime,,,,,,,,,,,,,,
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,1,1,0
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,1,1,1
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,1,1,2
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,1,1,3
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,1,1,4
2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1,1,1,5
2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2,1,1,6
2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3,1,1,7
2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8,1,1,8
2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14,1,1,9

In [25]:
# 二、拆分特征和标签
y = df_train.get('count')
X = df_train.drop('count', axis=1)

In [26]:
type(X)

pandas.core.frame.DataFrame

# 构建模型

In [27]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import svm
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as MSE

#导入sklearn包，本次大作业主要使用三种模型来拟合数据：随机森林、SVM和线性模型
#模型评价指标选择r2_score和MSE

In [1]:
#划分数据集
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=23)

NameError: name 'train_test_split' is not defined

In [ ]:
# 将测试集的索引取出来，方便后面与预测结果进行合并，写入文件
y_index = y_test.index

In [29]:
#运用r2_score和MSE对模型的的预测结果进行评估
def evl(y_test, y_pred):
    r2 = r2_score(y_test, y_pred)
    mse = MSE(y_test, y_pred)
    print("evl:{0}   MES:{1}".format(r2, mse))

In [3]:
#随机森林模型
RFR = RandomForestRegressor()
model = RFR.fit(X_train, y_train)
y_pred = model.predict(X_test)
evl(y_test, y_pred)

NameError: name 'RandomForestRegressor' is not defined

In [ ]:
#SVM模型
svc = svm.SVR().fit(X_train, y_train)
y_pred = svc.predict(X_test)
evl(y_test, y_pred)

In [4]:
#线性模型
model_lm = linear_model.Ridge().fit(X_train, y_train)
y_pred = model_lm.predict(X_test)
evl(y_test, y_pred)

NameError: name 'linear_model' is not defined

In [ ]:
# 上述结果说明线性模型和随机森林模型肯能过拟合了，而SVM则欠拟合

In [33]:
# 绘制图像，对比预测结果与真实结果
def plot_(pred, truth):
    plt.figure(figsize=(16,12))
    plt.title("result")
    
    plt.xlabel("examples")
    plt.ylabel("count")
    
    plt.grid()

    plt.plot(np.arange(0, 20, 1), pred[0:20], '-', color="g", linewidth=1.2,
             label="predict_count")
    

    plt.plot(np.arange(0, 20, 1), truth[0:20], '-', color="r", linewidth=1,
             label="ground_truth")
    plt.legend(loc="best")
    plt.show()

In [34]:
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
# 结果可视化
plot_(y_pred, y_test)

NameError: name 'plot_' is not defined

# 保存结果

In [58]:
y_pred[0:10]

array([338.2,  52.6,  46.2, 116.5, 257.6,   5. ,  24.9,  72.7, 255.9,
       283.8])

In [59]:
# 将ndarray转为dateframe, 方便与索引列合并
y_pred_df = pd.DataFrame(y_pred, columns=['count'])
y_pred_df.set_index(y_index, inplace=True)

In [60]:
y_pred_df.head()

                     count
datetime
2011-12-03 15:00:00  338.2
2011-07-09 01:00:00   52.6
2011-02-04 22:00:00   46.2
2011-07-13 14:00:00  116.5
2012-04-19 15:00:00  257.6

In [61]:
# 将结果保存成csv文件
y_pred_df.to_csv("/Users/boscoli/Documents/Ragnarok/result.csv", index=True)